<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-row">
            <div class="col">
                <div class="form-group mb-0">
                    <label for="issueDate">প্রদানের তারিখ*</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="issueDate" id="issueDate" formControlName="issueDate" ngbDatepicker
                            #dd="ngbDatepicker" (click)="dd.toggle()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-0">
                    <label for="checkNumber">চেক নম্বর*</label>
                    <input type="text" class="form-control" id="checkNumber" placeholder="চেক নম্বর" formControlName="checkNumber">
                    <small class="text-danger" *ngIf="form.controls.checkNumber.errors && form.controls.checkNumber.touched">
                        চেক নম্বর প্রয়োজন
                    </small>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-0">
                    <label for="amount">অর্থের পরিমাণ*</label>
                    <input type="number" class="form-control" id="amount" placeholder="অর্থ পরিমাণ" formControlName="amount">
                    <small class="text-danger" *ngIf="form.controls.amount.errors && form.controls.amount.touched">
                        অর্থ পরিমাণ প্রয়োজন
                    </small>
                </div>
            </div>
            <!-- <div class="col"> -->
            <div class="d-flex align-items-end">
                <button type="submit" class="btn btn-success">
                    অগ্রিম প্রদান যোগ করুন
                </button>
            </div>

            <!-- </div> -->
        </div>
    </form>
</div>