/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.min.css';

@font-face {
    font-family: 'SolaimanLipi';
    src: url('assets/fonts/SolaimanLipi.ttf');
}

body {
    font-family: 'SolaimanLipi', Arial, sans-serif !important;
    font-weight: 300;
  }

  @media print {
    @page {
        size: landscape;
    }
}
  

  
